header {
  nav {
    .menu-item {
      opacity: 1;
      transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);

      @media (min-width: 1024px) {
        :hover,
        :focus,
        :active {
          opacity: 0.7;
        }
      }
    }
  }
  .current-menu-item {
    @media (min-width: 1024px) {
      position: relative;
      ::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 3rem;
        background-color: black;
      }
    }
  }
}

#menu-mobile {
  nav {
    .menu-item {
      padding: 0.5rem 0;
    }
  }
}

.open {
  display: flex;
}
