#image-section-home {
    height: 120vh;
    ul{
        li {
          img {
            top: 20%;
            left: 5%;
            min-height: 25rem;
            max-width: 20rem;
            object-fit: cover;
            z-index: 20;
          }
        }
        :nth-child(2) {
          img {
            top: 35%;
            left: 30%;
            min-height: 25rem;
            max-width: 39rem;
          }
        }
        :nth-child(3) {
          img {
            top: 25%;
            left: 75%;
            min-height: 10rem;
            max-width: 10rem;
          }
        }
        :nth-child(4) {
          img {
            top: 80%;
            left: 7%;
            min-height: 10rem;
            max-width: 20rem;
          }
        }
        :nth-child(5) {
            img {
              top: 60%;
              right: 0;
              left: auto;
              min-height: 25rem;
              max-width: 15rem;
            }
          }
    }
}
