#image-section-home {
  height: 130vh;
  ul {
    li {
      img {
        top: 25%;
        left: 4%;
        min-height: auto;
        max-width: 16rem;
        object-fit: cover;
        z-index: 20;

        @media (min-width: 1024px) {
          top: 25%;
          left: 2%;
          min-height: 25rem;
          max-width: 20rem;
        }
      }
    }
    :nth-child(2) {
      img {
        top: 22%;
        left: 74%;
        min-height: auto;
        max-width: 10rem;

        @media (min-width: 1024px) {
          top: 40%;
        left: 30%;
        min-height: 25rem;
        max-width: 39rem;
        }
      }
    }
    :nth-child(3) {
      img {
        top: 35%;
        left: 75%;
        min-height: 10rem;
        max-width: 10rem;

        @media (min-width: 1024px) {
          top: 30%;
        }
      }
    }
    :nth-child(4) {
      img {
        display: none;
        top: 85%;
        left: 5%;
        min-height: 10rem;
        max-width: 20rem;

        @media (min-width: 1024px) {
          display: block;
        }
      }
    }
    :nth-child(5) {
      img {
        display: none;
        top: 65%;
        right: 0;
        left: auto;
        min-height: 25rem;
        max-width: 15rem;

        @media (min-width: 1024px) {
          display: block;
        }
      }
    }
  }
}