#slider-base{
    .splide {
      &__slide {
        max-width: 700px;
    
        img {
          max-height: 400px;
        }
      }
      &__arrow {
        background: none;
        width: auto;
        height: auto;
      }
    }
    .slider__line{
      display: none;
      height: 472px;
      left: 17%;
  
      @media (min-width: 1024px) {
        display: block;
      }
    }
    .slider__line2{
      display: none;
      height: 472px;
      right: 17%;
  
      @media (min-width: 1024px) {
        display: block;
      }
    }
    .my-slider-progress {
      background: #ccc;
      max-width: 400px;
      margin: auto;
    }
    
    .my-slider-progress-bar {
      background: #1D1D1B;
      height: 2px;
      transition: width 400ms ease;
      width: 0;
    }
  }
  